* {
    margin: 0;
    padding: 0;
    list-style: none;
}

html,
body {
    height: 100%;
    width: 100%;
}

.wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    height: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    line-height: 1rem;
    border-bottom: 1px solid black;
    justify-content: space-between;
}

.header p img {
    margin-top: 0.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.header p span {
    font-size: 0.4rem;
    margin-left: 0.3rem;
}

.section {
    width: 100%;
    flex: 1;
}

.banner {
    width: 100%;
    height: 100%;
}

.banner .swiper-wrapper {
    width: 100%;
    height: 100%;
}

.banner .swiper-wrapper .swiper-slide {
    width: 100%;
    height: 100%;
}

#active {
    color: burlywood;
}

#avq {
    color: black;
}

.one {
    width: 100%;
    height: 1rem;
    border-bottom: 1px solid #999;
    display: flex;
    justify-content: space-between;
    line-height: 1rem;
}

.one span {
    font-size: 0.35rem;
}

.two {
    width: 100%;
    height: 1rem;
    border-bottom: 1px solid #999;
    display: flex;
    justify-content: space-around;
    line-height: 1rem;
}

.there {
    height: 6rem;
    width: 100%;
}

.four {
    width: 100%;
    height: 1rem;
    background: #ccc;
    line-height: 1rem;
    font-size: 0.35rem;
}

.four span:first-child {
    margin-right: 35%;
}

.four span {
    margin-left: 5%;
}

.five {
    width: 100%;
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: 0.35rem;
    position: relative;
}

.five span:first-child {
    margin-right: 10%;
}

.five span {
    margin-left: 5%;
}

.five #opsan {
    position: absolute;
    left: 0;
    top: 30px;
}

.there {
    text-align: center;
}

canvas {
    margin-top: 40px;
}